/* CSS voor index.html voor interactieve CV pagina */
b, li, ul, h7, h5, p {
  color: #104b8d;
} 

/* infostukje bovenaan */
#topinfo {
  margin: 20px 20px 40px 20px;
  background-color: #90d5df;
  border-radius: 25px;
  border-style: solid;    
  border-width: 2px;
  border-color: black;
  padding: 10px;
}

#topinfo h1 {
  margin-bottom: 20px;
  color: #104b8d;
}

/* div over het team */
#overhetteam {
  padding: 10px;
  background-color: #2dc9de;    
  border-radius: 25px;
  border-style: solid;    
  border-width: 2px;
  border-color: black;
}

/* div vak met foto's */
.rounded-circle {
  max-width: 200px;
  max-height: 200px;
}

#allefotos {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 25px;
}

/* div info over project */
#infoproject {
  background-color: #2dc9de;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 10px;
}

.collapsible {
  background-color: #2dc9de;
  color: #336bac;
  cursor: pointer;
  padding: 0px 0px 5px 0px;
  width: 100%;
  text-align: left;
  font-size: 15px;
  border: 2px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) / */
.active, .collapsible:hover {
  background-color: #3eb2c2;
}
  
  /* / Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #3eb2c2;
}
  
.qualities-section {
  text-align: center;
}

.btn-primary {
  background-color:#ffffff; 
  color: black;
  border-color: black;
  border-width: 3px;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color:#cdcbe5;
  border-color: black;
}

#hotelfoto {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 20px 0px 20px 0px;
}

#caption {
  text-align: center;
  color: #0d0983;
  margin-top: -15px;
}

#escapefoto {
  max-width:100%;
  max-height:100%;
  object-fit: contain;
  margin: 20px 0px 20px 0px;
}

.zoom {
  padding: 10px;
  margin-top: 50px !important;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Hotelprojectpagina.html */
#infoproject {
  background-color: #2dc9de;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 10px;
}

#codevoorbeeld {
  width: 395px;
  padding: 12px;
}