/* CSS voor index.html voor interactieve CV pagina */

/* div over het team */
#overhetteam {
    padding: 10px;
    background-color: #2dc9de;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.container-fluid {
    margin-top: 50px;
}

.rounded-circle {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 30px;
}

#middencol {
    background-color: pink;
}