/* CSS voor CV_KVB_PAG1.css */

/* voorbeeld */

body {
    background: rgba(0, 128, 0, 0.15) /* Green background with 15% opacity */
}

#Header { padding: 10px;
    background-color: rgba(0, 128, 0, 0.30);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(7, 119, 28);
    margin-right: auto;
    margin-left: auto;



}

#Missiestatement {
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.30);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(7, 119, 28);
    margin-right: auto;
    margin-left: auto;

}




.SkillsMargin {
    margin-bottom: 30px;
}

